{% extends "layout.html" %}
{% block content %}
<!-- Main -->
<div id="main">
	<div class="inner">
		<h1>Education</h1>
		<ol>
		<li class="tli">
			<div>
			<h3>2024 - 2021</h3>
			<h3>Fellow</h3>
			<h3><a href="https://actuaries.org.uk/">Institute and Faculty of Actuaries</a></h3>
			<ul>
				<li>Completed all 13 qualification exams.</li>
				<li>Exemptions: None.</li>
				<li>Fellowship exams:</li>
				<ul>
					<li>SP7: General Insurance - Reserving and Capital Modelling Specialist Principles</li>
					<li>SP8: General Insurance - Pricing Specialist Principles</li>
					<li>SA3: General Insurance - Specialist Advanced</li>
				</ul>
			</ul>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2024 - 2021</h3>
			<h3>Fellow</h3>
			<h3><a href="https://web.actuaries.ie/">Society of Actuaries in Ireland</a></h3>
			<p> By equivalence with IFoA.</p>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2021 - 2019</h3>
			<h3>STEM MBA - Business Analytics and Information Management</h3>
			<h3><a href="https://www.purdue.edu/">Purdue University</a></h3>
			<ul>
				<li>Coursework included: </li>
				<li>Krannert Scholarship Recipient</li>
				<li>Graduate Assistant</li>
				<li>President, User Experience in Business Club</li>
				<li>Treasurer, Krannert Net Impact Club</li>
				<li>GPA: 3.71/4.00</li>
			</ul>
			<a href="{{ url_for('static', filename='downloads/purdue_transcript.pdf')}}" download="purdue_transcript.pdf">Combined Purdue Transcript</a>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2021 - 2019</h3>
			<h3>Graduate Certificate in Applied Statistics</h3>
			<h3><a href="https://www.purdue.edu/">Purdue University</a></h3>
			<ul>
				<li>Coursework included: </li>
				<li>GPA: 3.50/4.00</li>
			</ul>
			<a href="{{ url_for('static', filename='downloads/purdue_transcript.pdf')}}" download="purdue_transcript.pdf">Combined Purdue Transcript</a>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2021 - 2019</h3>
			<h3>Bachelor of Arts: Political Science and Race and Ethnicity Studies</h3>
			<h3><a href="https://www.uchicago.edu/en">Purdue University</a></h3>
			<ul>
				<li>Coursework included: </li>
				<li>University Grant Recipient</li>
				<li>Summer Research Grant Recipient</li>
				<li>University Rowing Team Captain, Fundraising Chair</li>
				<li>GPA: 3.76/4.00</li>
			</ul>
			</div>
			<a href="{{ url_for('static', filename='downloads/ba_transcript.pdf')}}" download="ba_transcript.pdf">Transcript</a>	
		</li>								
	</div>
</div>

{% endblock %}