{% extends "layout.html" %}
{% block content %}
<!-- Main -->
<div id="main">
	<div class="inner">
		<h1>Experience</h1>
		<a href="{{ url_for('static', filename='downloads/LauraRossiCV.pdf')}}" download="LauraRossiCV.pdf">Download my CV</a>	
		<p></p>
		<ol>
		<li class="tli">
			<div>
			<h3>2024 - Current</h3>
			<h3> Assisant Manager - <a href="https://www2.deloitte.com/ie/en.html">Deloitte Ireland</a></h3>
			<h4>Technical Responsibilities</h4>
				<ul>
					<li>Development of actuarial new software solutions based on open source software for a variety of purposes, including among others: capital modelling, assumption management, regulatory reporting.</li>
					<li>Develoepd and implemented improvements and additional functionality for existing  actuarial and financial modelling software.</li>
					<li>Actuarial modelling: reserving and capital models, SII, Internal models, liability projections.</li>
					<li>Integration of systems and API development to integrate open source code solutions with existing actuarial modelling and database systems.</li>
					<li>Design of system architectures.</li>
					<li>Drafting of both technical and user documentation.</li>
					<li>Automation of DevOps and QA tasks (unit tests, automated documentation, linting, etc.)</li>
					<li>Configuration of Azure DevOps policies, repos and organisations.</li>
				</ul>			
			<h4>Management Responsibilities</h4>
				<ul>
					<li>Training of junior team members in technical (software developemnt, actuarial) and non-technical (clients and relationships) matters.</li>
					<li>Code reviews and PR approval responsibilities.</li>
					<li>Performance reviews and performance feedback.</li>
					<li>Liaising with end-users, testing team, wider IT.</li>
					<li>Refinement of requirements and liaising with design teams to ensure satisfactory releases.</li>
					<li>Budget and deadline management.</li>
					<li>Monthly meetings with sub-management team to ensure their needs and concerns are addressed.</li>
					<li>Client solution advisory (e.g. seection a technology stack, system integration queries, budgeting builds).</li>
				</ul>
			<h4>Eminence</h4>
				<ul>
					<li>Developed and presented sessions for the Society of Acturies of Ireland on:</li>
					<ul>
						<li>Data analysis and modelling ethics. </li>
						<li>AI and Machine Learning methods and ethical applications.</li>
						<li>Machine Learning and AI applications in actuarial work.</li>
					</ul>
				</ul>				
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Python 3 (Including Pandas, NumPy, Numba, Multiprocessing, Logging, Flask, Tkinter, among others)</li>
					<li>SQL</li>
					<li>MG-ALFA</li>
					<li>Tyche</li>
					<li>Microsoft Azure (Including DevOps, Databricks, Data Lake, Entra, among other services)</li>
					<li>Object Oriented Programming</li>
					<li>APIs</li>
					<li>Optimisation</li>
					<li>Agile Methods</li>
					<li>Waterfall Methods</li>
					<li>Unit Testing</li>
				</ul>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2022 - 2024</h3>
			<h3> Consultant - <a href="https://www2.deloitte.com/ie/en.html">Deloitte Ireland</a></h3>
			<h4>Technical Responsibilities</h4>
				<ul>
					<li>Development of actuarial software solutions based on open source software for a variety of purposes, including among others: catastrophe modelling, reporting and UI development.</li>
					<li>Model replications and results validation for actuarial audits, reconciling to within 1%.</li>
					<li>Technical walkthroughs and audit queries.</li>
					<li>Database table, query and store procedure implementations to integrate with user-facing interfaces.</li>
					<li>Drafting of both technical and user documentation.</li>
					<li>Drafting and review of audit reports and concllusion memos.</li>
					<li>Implementation of statistical software solutions for liability forecast.</li>
				</ul>			
			<h4>Management Responsibilities</h4>
				<ul>
					<li>Training of junior team members in technical (software deveopemnt, actuarial) matters.</li>
					<li>Code reviews and PR approval responsibilities.</li>
					<li>Knowledge transfer sessions on softwawre devleopment concepts, industry best practice, statistical modelling, Machine Learning and AI.</li>
					<li>Liaising with testing team.</li>
					<li>Management reports.</li>
				</ul>
			<h4>Eminence</h4>
				<ul>
					<li>Developed and presented sessions for the Society of Acturies of Ireland on Data analysis and modelling ethics. </li>
					<li>Developed and presented internal Deloitte sessions on software develpment and Agile best practice, OOP principles and statistical methods.</li>
				</ul>				
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Python 3 (Including Pandas, NumPy, Multiprocessing, Logging, Tkinter, among others) </li>
					<li>SQL</li>
					<li>Tyche</li>
					<li>Microsoft Azure (Including DevOps, Databricks, Data Lake, Entra, and otehr services)</li>
					<li>Object Oriented Programming</li>
					<li>Optimisation</li>
					<li>UI Design</li>
					<li>Agile Methods</li>
					<li>Waterfall Methods</li>
					<li>Unit Testing</li>					
				</ul>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2021 - 2022</h3>
			<h3> Analyst - <a href="https://www2.deloitte.com/ie/en.html">Deloitte Ireland</a></h3>
			<h4>Technical Responsibilities</h4>
				<ul>
					<li>Development of proof of concent tools for actuarial and financial applications, including UIs and calcualtion engines.</li>
					<li>Model replications and results validation for actuarial audits, reconciling to within 1%.</li>
					<li>Technical walkthroughs and audit queries.</li>
					<li>Drafting of audit reports and concllusion memos.</li>
					<li>Automating of Excel and Access funcitonality for the actuarial, audit and valuations teams through VBA development.</li>
				</ul>			
			<h4>Management Responsibilities</h4>
				<ul>
					<li>Training of junior team memebrs in technical (software deveopemnt, actuarial) matters.</li>
					<li>Code reviews and PR approval responsibilities.</li>
					<li>Knowledge transfer sessions on softwawre devleopment concepts, industry best practice, statistical modelling, Machine Learning and AI.</li>
					<li>Liaising with testing team.</li>
					<li>Management reports.</li>
				</ul>
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Python 3 (Including Pandas, NumPy, Multiprocessing, Logging, Tkinter, among others)</li>
					<li>SQL</li>
					<li>Tyche</li>
					<li>Microsoft Azure (Including DevOps, Data Lake, among other services)</li>
					<li>Object Oriented Programming</li>
					<li>Optimisation</li>
					<li>UI Design</li>
					<li>VBA and Macro automation</li>
					<li>Waterfall Methods</li>
					<li>Unit Testing</li>					
				</ul>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2020 (Summer internship)
			<h3> Corporate Prourement Intern - <a href="https://jbssa.com/">JbS</a></h3>
			<h4>Projects</h4>
				<ul>
					<li>Banking Cards Project</li>
					<p>For this project, I gathered, processed and analyzed historical spend data, grouped by payment type: virtual, purchasing and corporate cards (all rebate eligible spend) as well as through non-card purchasing orders. The goal of the project was to find savings opportunities by reducing the cost of making payments and/or maximising rebates on spend. This project had a target ROI of $260,000.Throught this analysis, I found $80 million/year of spend, currently done through small non-rebate eligible purchasing orders, which if paid for through rebatable means will lead to an ROI of $1.2 million/year (approximately 5x target). Additionally, I found opportunities to save an additional 0.31% on all card spend by adjusting JBS's payment days performance to match their WACC.</li>
					<li>Diesel Fuel Analysis</li>
					<p>Working with the head of Energy Procurement, I identified 6 plants for which there are significant savings opportunities (average 20% yearly) to be capitalized by investing in larger off-road diesel tanks to capture OPIS competitive diesel pricing and reduce fuel shipment costs. Additionally, we identified further savings opportunities from installing electric TRUs with potential to reduce energy costs by 30% to 80% and qualify for rebates.</p>
					<li>VBA Automation</li>
					<p>While working on my data analysis projects, I reviewed, refactored and built additional Visual Basics Macros to automate weekly and monthly tasks for the procurement function.</p>
				</ul>
			<h4>Key skills</h4>
				<ul>
					<li>Data analysis</li>	
					<li>Forecasting</li>	
					<li>Mathematical modelling</li>
					<li>VBA and Macro automation</li>
					<li>Communication</li>
				</ul>
			</div>
		</li>	
		<li class="tli">
			<div>
			<h3>2019-2021 
			<h3> Gradaute Teaching Assistant - <a href="http://purdue.edu/">Purdue University</a></h3>
			<h4>Technical Responsibilities</h4>
				<ul>
					<li>Development of educational content (syllabus, reading material compilation, explainers, video scripts) for online courses on data analysis, research methods, data visualisation, research ethics and technical/non-technical communication .</li>
					<li>Development of success criteria and grading rubrics to assess student performance.</li>
					<li>Provision of guidance and feedback to students through daily/weekly interactions.</li>
				</ul>			
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Data analysis</li>	
					<li>Research and statistical methods</li>	
					<li>Communication</li>
					<li>Writing (technical and non-technical)</li>
				</ul>
			</div>
		</li>
		<li class="tli">
			<div>
			<h3>2019-2021 
			<h3> Gradaute Assistant - <a href="https://purduefoundry.com/">Purdue Foundry</a></h3>
			<h4>Technical Responsibilities</h4>
				<ul>
					<li>Modeling of the go-to-market strategy for NutraMaize, producer of <a href="https://professortorberts.com/">Professor Torbert's Orange Corn.</a></li>
					<li>Analysis and modelling of target market segments and year-on-year growth potential of <a href="https://www.speechvive.com/">SpeechVive</a>, a device designed to improve the lives of Parkinson's disease patients by helping them regain the speech and communication skills affected by their pathology.</li>
					<li>Research regarding the potential for use and profitability of potential new markets for smart clothing startup <a href="https://predictivewear.com/">Predictive Wear.</a></li>
				</ul>			
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Data analysis</li>	
					<li>Research and statistical methods</li>	
					<li>Communication</li>
					<li>Writing (technical and non-technical)</li>
				</ul>
			</div>
		</li>		
		<li class="tli">
			<div>
			<h3>2018-2019 
			<h3> Consultant - <a href="http://truqua.com/">TruQua Enterprises</a></h3>
			<h4>Technical Responsibilities</h4>
				<ul>
					<li>SAP HANA data warehouse implementation.</li>
					<li>SAP Fiori online dashbaord and UI development.</li>
					<li>Development of POC Python Machine Learning tools for financial forecasting.</li>
				</ul>			
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Python 3</li>	
					<li>SAP HANA, Fiori, FICO</li>	
					<li>SQL</li>
					<li>ABAP</li>
				</ul>
			</div>
		</li>		
		<li class="tli">
			<div>
			<h3>2016-2018 
			<h3> Research Assistant - <a href="https://www.uchicago.edu/">University of Chicago</a></h3>
			<p>Worked for Professor John Brehm, developing Python modules to support his research project on political opinions expressed through social media. For this project, I worked developed and maintained Python and shell scripts to:
				<ul>
					<li>Pull data from Twitter's API throughout a span of a year.</li>
					<li>Clean the data to contain only Tweets on our targeted political topic (the supreme court nominations of Merrick Garland and Neil Gorsuch)</li>
					<li>Prepare data for statistical, Natural Language Processing, and dictionary-based sentiment analysis. </li>
				</ul>

			<p>The paper that resulted form our work can be found under the Projects page of this site, it is titled "Is political messaging persuasive or manipulative? Twitter messages about the Supreme Court nominations". It was also presented by us at the 2017 Midwestern Political Science Association's annual Conference.</p>
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Python 2</li>	
					<li>Shell scripting</li>	
					<li>Statistical analysis</li>
					<li>Research methods</li>
					<li>Natural Language Processing</li>
					<li>Visualisation</li>
					<li>Technical Communication</li>
				</ul>
			</div>
		</li>			
		<li class="tli">
			<div>
			<h3>2017-2018 
			<h3> Development Intern - <a href="http://chicagoliteracyalliance.org/">Chicago Literacy Alliance</a></h3>
			<p>In this role, I recruited over 100 donors to sponsor the main fundraising event for CLA, an association of 125 education non-profit organizations through research and cold calling. Additionally, I designed and implemented a donation tracking system, managed donor follow-up and provided tax-exemption documentation for donors.

			<h4>Key technologies & skills</h4>
				<ul>
					<li>Administration</li>
					<li>Outreach</li>
					<li>Communication</li>
					<li>Spreadsheet modelling</li>
				</ul>
			</div>
		</li>					
		<li class="tli">
			<div>
			<h3>2016 (Summer internship) 
			<h3> Alternative Programs Intern - <a href="https://www.cookcountysheriff.org/cook-county-department-of-corrections/programs-and-services/">Cook County Sheriff's Office - Cook County DOC</a></h3>
			<p>In this role, I worked inside Cook County Jail and in close contact with law enforcement and civilian personnel assisting with the management of education and rehabilitation services to Cook County Jail detainees. My responsibilities included reviewing and assessing 50+ daily service requests to ensure each detainee received the services they requested in a timely fashion. I also produced audit reports to confirm accurate delivery of substance abuse services to the detainees who needed them; and analyzed performance and financial data to determine billing accuracy by third party providers of these services.</p>
			<h4>Key technologies & skills</h4>
				<ul>
					<li>Administration</li>
					<li>Data analysis</li>
					<li>Communication</li>
					<li>Auditing</li>
				</ul>
			</div>
		</li>														
		</ol>
	</div>
</div>

{% endblock %}