{% extends "layout.html" %}
{% block content %}
<!-- Main -->
<div id="main">
	<div class="inner">
		<h1>Other Stuff</h1>
		<div>
			<h3>Some Good Reads</h3>
			<ul>
				<li>Anything by <a href="https://elgatoylacaja.com/">El Gato y la Caja</a></li>
				<li><a href="https://www.forbes.com/sites/startswithabang/2020/07/30/you-must-not-do-your-own-research-when-it-comes-to-science/#554b7622535e">You Must Not ‘Do Your Own Research’ When It Comes To Science</a></li>
				<li>The Real Politics of the Horn of Africa: Money, War and the Business of Power</a> by Alex de Waal</li>
				<li>Anything by Sir Terry Pratchett – If you’re looking for a place to start consider: Mort, Equal Rites or the more traditional introduction to the Discworld: The Colour of Magic</li>
				<li>Hitchhiker’s Gide to the Galaxy, and its sequels, by Douglas Adams</li>
				<li>Any play by Oscar Wilde, you may start with The Importance of Being Earnest</li>
				<li>Anything by JRR Tolkien, although I do suggest starting with The Lord of the Rings</li>
				<li>All of Jorge Luis Borges’ short stories (may I recommend: El Laberinto / The Labyrinth)</li>
			</ul>
		</div>
		<div>
			<h3>Gallery of hobbies</h3>
				<section class="gallery">
					<img src="{{ url_for('static', filename='images/gallery/1.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/2.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/3.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/4.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/5.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/6.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/7.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/8.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/9.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/10.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/11.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/12.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/13.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/14.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/15.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/16.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/17.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/18.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/19.webp')}}" alt="" />
					<img src="{{ url_for('static', filename='images/gallery/20.webp')}}" alt="" />				
				</section>	
		</div>
	</div>
</div>

{% endblock %}